@model Employee;

<div class="container" style="background-color:lightgoldenrodyellow; border: 2px solid black">
  <h1> Name : @Model.ename</h1>
  <h1> Job : @Model.job</h1>
  <h1> Salary : @Model.salary</h1>
</div>
